<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Insight</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Chat Insight</h1>
      <p>
        Transform your WhatsApp conversations into beautiful visualizations and
        meaningful insights with just one click.
      </p>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="upload-container">
          <input type="file" name="file" accept=".zip" required />
          <button type="submit">Upload and Analyze</button>
        </div>
      </form>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
    </div>
    <footer
      style="
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #008080;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 0.8em;
      "
    >
      <p style="margin: 0; color: white">
        Made with ❤️ by Google Jr & Thabhelo |
        <a
          href="https://github.com/xeroxzen/chat-insight"
          style="color: white; text-decoration: underline"
          target="_blank"
        >
          Open Source on GitHub
        </a>
      </p>
    </footer>
  </body>
</html>
